[Desktop Entry]
Encoding=UTF-8
Name=UDOO Configuration Tool
Comment=UDOO Configuration Tool (zenity based)
Exec=gksu "udoo-config.sh zmenu"
Icon=udoo-config.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Settings;System;AdvancedSettings;
